body{
    background-color: #f2f2f2;
}
.masthead{
    background-image: url(/assets/img/moncao_vista-aerea.jpg);
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    max-width: 100%;
    text-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
#brasao{
    padding-top: 2.5cm;
    height: auto;
    max-width: 100%;
}
.intro-text{
    padding-top: 2rem;
    color: white;
    font-size: 4vmin !important;
    font-weight: 500;
}
.scroll{
    bottom: -20px !important;
}
#lenda{
    background-image: url(/assets/img/deu-la-deu_martins.jpg);
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    max-width: 100%;
    text-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
#lenda p{
    color: white;
    text-shadow: rgba(0,0,0,.2);
}
#lenda h1{
    color: white;
    text-shadow: rgba(0,0,0,.2);
}
p{
    font-size: 2.5vmin;
    color: black
}
h1{
    font-size: 5vmin;
    color: black
}
#cascata{
    text-align: center;
    text-justify: auto;
    max-width: 100%;
}
#img-cascata{
    max-width: 100%;
    height: auto;
}
#fortaleza{
    text-align: center;
    text-justify: auto;
    max-width: 100%;
    height: auto;
}
#img-fortaleza{
    max-width: 100%;
    height: auto;
}
#header-fortaleza{
    padding-top: 3.5vh;
}
#palacio{
    text-align: center;
    text-justify: auto;
    max-width: 100%;
    height: auto;
}
#img-palacio{
    max-width: 100%;
    height: auto;
}
#header-palacio{
    padding-top: 3.5vh;
}
#cordeiro{
    text-align: center;
    text-justify: auto;
    max-width: 100%;
    height: auto;
}
#img-cordeiro{
    max-width: 100%;
    height: auto;
}
#header-cordeiro{
    padding-top: 3.5vh;
}
#bacalhau{
    text-align: center;
    text-justify: auto;
    max-width: 100%;
    height: auto;
}
#img-bacalhau{
    max-width: 100%;
    height: auto;
}
#header-bacalhau{
    padding-top: 3.5vh;
}
#roscas{
    text-align: center;
    text-justify: auto;
    max-width: 100%;
    height: auto;
}
#img-roscas{
    max-width: 100%;
    height: auto;
}
#header-roscas{
    padding-top: 3.5vh;
}
@media (max-width: 768px){
    .masthead{
        min-height: 30vh;
    }
    #lenda{
        min-height: 30vh;
    }
}