body{
    background-color: #f2f2f2;
}
.masthead{
    background-image: url("/assets/img/moncao_vista-aerea.jpg");
    background-size: cover !important;
    min-height: 60vh;
    position: relative;
    text-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
#brasao{
    padding-top: 2.5cm;
    height: auto;
    width: 50%;
}
.intro-text{
    padding-top: 2rem;
    color: white;
    font-size: 4vmin !important;
    font-weight: 500;
}
.scroll{
    bottom: -20px !important;
}
#lenda{
    background-size: cover !important;
    background-image: url(/assets/img/deu-la-deu_martins.jpg);
    min-height: 60vh;
    position: relative !important;
}
#lenda p{
    color: white;
    text-shadow: rgba(0,0,0,.2);
}
#lenda h1{
    color: white;
    text-shadow: rgba(0,0,0,.2);
}
p{
    font-size: 2.5vmin;
    color: black
}
h1{
    font-size: 5vmin;
    color: black
}
#patrimonio{
    background-size: cover !important;
    background-image: url(/assets/img/deu-la-deu_martins.jpg);
    min-height: 60vh;
    position: relative !important;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
@media (max-width: 768px){
    .masthead{
        min-height: 30vh;
    }
    #lenda{
        min-height: 30vh;
    }
}