.masthead{
    background-image: url("/assets/img/moncao_vista-aerea.jpg");
    background-size: cover !important;
}
.brasao{
    height: auto;
    width: 50%;
}
.intro-text{
    padding-top: 2rem;
}
.scroll{
    bottom: -20px !important;
}